.login-input {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  height: 48px;
  background-color: #EDE6E6 !important;
}

.forgot-password-text {
  color: gray !important;
  text-decoration: none !important;
}